<artcile class="header__cabinet-entry-point">
    <form action="" class="header__cabinet-entry-form">
        <input name="username" type="text" class="entry-form__username" required>
        <input name="password" type="password" class="entry-form__password" required>
        <input name="submit" type="submit" class="entry-form__submit" value="Зайти до кабінету">
    </form>
    <a href="" class="entry-point__button register-button" data-navigo>Зареєструватись</a>
    <a href="" class="entry-point__button enter-button" data-navigo>Персональний кабінет</a>
</article>