<ul class="nav-menu flexbox">
    <li class="nav-menu__item" tabindex="100">
        <span class="menu__button menu__trigger" tabindex="1">Правила</span>
        <ul class="nav-menu__submenu">
            <a class="submenu__link"
            href="#/rules/general" tabindex="2" data-navigo>Загальні</a>
            <a class="submenu__link"
            href="#/rules/quiz" tabindex="3" data-navigo>Правила квізу</a>
            <a class="submenu__link"
            href="#/rules/erudith" tabindex="4" data-navigo>Правила ерудиту</a>
        </ul>
    </li>
    <li class="nav-menu__item" tabindex="200">
        <span class="menu__button menu__trigger" tabindex="5">Режим тестування</span>
        <ul  class="nav-menu__submenu">
            <a class="submenu__link"
            href="#/cards/quiz" tabindex="6" data-navigo>Квіз</a>
            <a class="submenu__link"
            href="#/cards/erudith" tabindex="7" data-navigo>Ерудит</a>
        </ul>
    </li>
    <li class="nav-menu__item" tabindex="300">
        <span class="menu__button menu__trigger" tabindex="8">Додайте своє</span>
        <ul  class="nav-menu__submenu">
            <a class="submenu__link"
            href="#/setup-upload/question" tabindex="9" data-navigo>Питання</a>
            <a class="submenu__link"
            href="#/setup-upload/erudith"  tabindex="10" data-navigo>Ерудит</a>
            <a class="submenu__link"
            href="#/setup-upload/quiz" tabindex="11" data-navigo>Квіз</a>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a class="menu__button"
        href="#/videomaterials" tabindex="12" data-navigo>Відеоматеріали</a>
    </li>
    <li class="nav-menu__item">
        <a class="menu__button"
        href="/feedback" tabindex="13" data-navigo>Зворотній зв’язок</a>
    </li>
    <li class="nav-menu__item">
         <a class="menu__button"
         href="/info" tabindex="14" data-navigo>Про проект</a>
    </li>
</ul>