<article class="personal-cabinet__article">
    <p class="personal-cabinet__main-info">
        <span class="main-info__span">{{nickname}}</span>
        <span class="main-info__span">{{name}}</span>
        <span class="main-info__span">{{surname}}</span>
    </p>
    <p class="personal-cabinet__testing-info">
        <table class="personal-cabinet__passed-testings">
            <thead>
                Інформація про тестування
            </thead>
            <tbody>
                <tr class="passed_testings__tr--header">
                    <th class="passed_testings__th">Дата проходження</th>
                    <th class="passed_testings__th">Тип тестування</th>
                    <th class="passed_testings__th">Набраний бал</th>
                    <th class="passed_testings__th">Деталі</th>
                </tr>
                {{#testings_log}}
                <tr class="passed_testings__tr">
                    <td class="passed_testings__td">{{sTestingDate}}</td>
                    <td class="passed_testings__td">{{type}}</td>
                    <td class="passed_testings__td">{{score}}</td>
                    <td class="passed_testings__td--hidden">
                        <button class="passed_testings__show-detail"></button>
                        <section class="passed_testings__detail-section">
                            <button class="passed_testings__hide-detail">✖</button>
                            {{{summary}}}
                        </section>
                    </td>
                </tr>
                {{/testings_log}}
            </tbody>
        </table>
        <span "personal-cabinet__total-score"></span>
    </p>
</article>