<article class="personal-cabinet__article">
    <p class="personal-cabinet__main-info">
        <img class="main-infor__avatar" width="100" height="150" alt="avatar">
        <span class="main-info__nickname"></span>
        <span class="main-info__name"></span>
        <span class="main-info__surname"></span>
    </p>
    <p class="personal-cabinet__testing-info">
        <table class="personal-cabinet__passed-testings">
            <thead>
                Інформація про тестування
            </thead>
            <tbody>
                <tr class="passed_testings__tr--header">
                    <th class="passed_testings__th">Дата проходження</th>
                    <th class="passed_testings__th">Тип тестування</th>
                    <th class="passed_testings__th">Набраний бал</th>
                    <th class="passed_testings__th">Деталі</th>
                </tr>
                <tr class="passed_testings__tr">
                    <td class="passed_testings__td--date"></td>
                    <td class="passed_testings__td--type"></td>
                    <td class="passed_testings__td--score"></td>
                    <td class="passed_testings__td--detail"></td>
                </tr>
            </tbody>
        </table>
        <span "personal-cabinet__total-score"></span>
    </p>
</article>