<h1 class="article__h1">Вітаємо на нашому сайті, де ви можете перевірити свою ерудицію!
</h1>
<h2 class="article__h2">Ми раді знати, що Вам цікаво!
</h2>
<p class="article__p">
    Тут Ви можете знайти підбірки тестувань за різними галузями знань, а саме Біологією, Географією,
    Інформатикою, Історією, Математикою та Хімією 
</p>
<p class="article__p">
    Кожне тестування – це набір питань, пов'язаних спільною тематикою. Щоб Ви надто довго не думали над 
    відповідями, наші тестування обмежені в часі, натомість ви можете вибрати для себе легкий рівень складності
    питань, і отримати заповідні 10 з 10 (або 15 з 15, або 20/20) правильних відповідей. Детальніше читайте про 
    це в підрозіділі <a>quiz</a> цих правил. Якщо ж питання однакової складності Вам не цікаві, можете обрати 
    інший тип тестування, про який ви можете прочитати в розділі <a>erudith</a> цих правил. Ми не радимо 
    користуватись системож Google в процесі проходження тестувань, ну а потім... Ви й так отримаєте коротний 
    підсумок тестування з правильними відповідями.
</p> 
<p class="article__p">
    Окрім проходити тестування Ви також можете запропонувати нам до розгляду своє питання або ціле тестування 
    за типом erudith чи quiz. Ми завжди раді таким пропозиціям, адже це є джерелом нових знань і для нас теж.<br> 
    Також на нашому сайті є <a>підбірка відеоматеріалів</a>, де розумні люди розказують про те, як влаштований 
    Всесвіт. Можливо, Вам це буде цікаво. 
</p>
<p class="article__p">
    Ми дуже сподіваємось, що користування нашим сайтом принесе Вам задоволення й викличе бажання пізнавати!<br>
    Вдалого тестування!
</p>
