<form action="" class="sorter-form controller-form">
    <label for="sorter-form__select">Виберіть ознаку сортування</label>
    <select name="sorter-form__select" class="sorter-form__select">
        <option name="sorter-form__option" class="sorter-form__option" value="">
        </option>
        <option name="sorter-form__option" class="sorter-form__option hide-if-erudith" value="difficulty">
        Складність
        </option>
        <option name="sorter-form__option" class="sorter-form__option" value="topics">
        Тематика
        </option>
        <option name="sorter-form__option" class="sorter-form__option" value="size">
        Кількість питань
        </option>
    </select>
    <input type="submit" class="controller__submit-button" value="Сортувати">
</form>