<article class="article testing-section__article">
    <div class="testing-section__placeholder"></div>
	<div class="testing-section__message testing-section__message--wrong">На жаль, відповідь неправильна</div>
	<div class="testing-section__message testing-section__message--correct">Так, правильна відповідь!</div>
    <form class="testing-form">
        {{#questionary}}
        <fieldset class="testing-form__fieldset">
        <legend class="testing-form__question">
            {{question}}
        </legend>
        <br>
        {{#options}}
        <input type="radio" name="option{{qNum}}" class="testing-form__option" 
        id="option{{qNum}}{{optNum}}" value={{optNum}}>
        <label class="testing-form__label" for="option{{qNum}}{{optNum}}">
            {{optText}}
        </label>
        <br>
        {{/options}}
        </fieldset>
        {{/questionary}}
        <button type="submit" class="testing-form__answer-question">Відповісти на питання</button>
        <button class="testing-form__end-testing">Закінчити тестування</button>
    </form>
    <div class="testing-section__timer"></div>
    <div class="testing-section__paginate-box">        
    </div>
</article>