<h2 class="h2 quiz-choise-header">Виберіть умови тестуванння</h2>
<form class="testing-options-form">
<fieldset class="timing-countdown-settings">
	<legend class="testing-options__legend invisible-on-erudith">Установки часу: відлік часу
	</legend>
	<input type="radio" name="timing-countdown" id="question-timing--each" checked=true value="each">
	<label for="question-timing--each">Час на кожне питання</label>
	<input type="radio" name="timing-countdown" id="question-timing--all" checked=false value="all">
	<label for="question-timing--all">Загальний час на тестування</label>
</fieldset>
<fieldset class="timing-difficulty-setings">
	<legend class="testing-options__legend">Установки часу: рівень складності
	</legend>
	<input type="radio" name="timing-difficulty" id="timing-difficulty--easy" checked=false value=45>
	<label for="each-question-timing">Простий</label>
	<input type="radio" name="timing-difficulty" id="timing-difficulty--interim" checked=true value=30>
	<label for="each-question-timing">Середній</label>
	<input type="radio" name="timing-difficulty" id="timing-difficulty--hard" checked=false value=15>
	<label for="each-question-timing">Складний</label>
</fieldset>
<fieldset class="correct-answer-settings">
	<legend class="testing-options__legend">Повідомляти про правильність чи неправильність відповіді
	</legend>
	<input type="radio" name="inform-about-answer" id="inform-about-answer--yes" checked=true value=true>
	<label for="inform-about-answer--yes">Так</label>
	<input type="radio" name="inform-about-answer" id="inform-about-answer--no" checked=false value=false>
	<label for="inform-about-answer--no">Ні</label>
</fieldset>
<fieldset class="short-stopping-possibility">
	<legend class="testing-options__legend">Установки тестування: можливість закінчити до кінця тестування
	</legend>
	<input type="radio" name="short-stopping" id="short-stopping--yes" checked=true value=true>
	<label for="short-stopping--yes">Так</label>
	<input type="radio" name="short-stopping" id="short-stopping--no" checked=false value=false>
	<label for="short-stopping--no">Ні</label>
</fieldset>
<fieldset class="no-answer-penalty">
	<legend class="testing-options__legend">Установки тестування: можливість закінчити до кінця тестування
	</legend>
	<input type="radio" name="no-answer-penalty" id="no-answer-penalty--yes" checked=true value=true>
	<label for="no-answer-penalty--yes">Так</label>
	<input type="radio" name="no-answer-penalty" id="no-answer-penalty--no" checked=false value=false>
	<label for="no-answer-penalty--no">Ні</label>
</fieldset>
<input  type="submit"  class="submit-button  button" value="Почати тест">
</form>