<article class="article testing-section__article">
    <div class="testing-section__placeholder"></div>
	<div class="testing-section__message testing-section__message--wrong">На жаль, відповідь неправильна</div>
	<div class="testing-section__message testing-section__message--correct">Так, правильна відповідь!</div>
    <form class="testing-form">
        {{#questionary}}
        <formfield class="testing-form__formfield">
            <legend class="testing-form__question">{{question}}</legend><br>
            {{#options}}
            <input type="radio" name="option" class="testing-form__option" id="option{{qNum}}0" >
            <label class="testing-form__label" for="option{{qNum}}0">{{.}}</label><br>
            <input type="radio" name="option" class="testing-form__option" id="option{{qNum}}1">
            <label class="testing-form__label" for="option{{qNum}}1">{{.}}</label><br>
            <input type="radio" name="option" class="testing-form__option" id="option{{qNum}}2">
            <label class="testing-form__label" for="option{{qNum}}2">{{.}}</label><br>
            <input type="radio" name="option" class="testing-form__option" id="option{{qNum}}3">
            <label class="testing-form__label" for="option{{qNum}}3">{{.}}</label><br>
            {{/options}}
        </formfield>
        {{#questionary}}
        <input type="submit" class="testing-form__submit" value="Submit">
    </form>
    <div class="testing-section__timer"></div>
    <div class="testing-section__summary">        
    </div>
</article>