<p class="summary__p">Вітання! Ви закінчили це невелике тестування<br>
    Ви відповіли правильно на питання # 
    <span class="summary__answered-correctly-nums"></span><br>
</p>
<p class="summary__p summary__anwers-details">
    Ви відповіли неправильно на питання # <span class="summary__answered-incorrectly-num"></span><br>
    <span class="summary__answered-incorrectly"></span>
    Правильна відповідь на це питання <span class ="summary__correct-answer"></span><br>
</p>
<p class="summary__p">
    Ваш відсоток правильних відповідей складає <span class="summary__score"></span><br>
    Дякуємо і хорошого дня!
</p>