<p class="summary__p">Вітання! Ви закінчили це невелике тестування<br>
    Ви відповіли правильно на питання # 
    {{answered_correctly_nums}}<br>
</p>
{{#incorrect_answers_detail}}
<p class="summary__p summary__anwers-details">
    Ви відповіли неправильно на питання # {{num}}<br>
    <span class="summary__answered-incorrectly">{{question}}</span>
    Правильна відповідь на це питання <span class ="summary__correct-answer">
        {{correct_answer}}
    </span><br>
</p>
{{/incorrect_answers_detail}}
<p class="summary__p">
    Ваш відсоток правильних відповідей складає 
    <span class="summary__score">{{score}}%</span><br>
    Дякуємо і хорошого дня!
</p>
<a class="summary__close-button" 
href="#/rules/general" data-navigo>
    Гаразд
</a>