<form class="upload-form">
    {{#uploadOpts}}
    <fieldset class="upload-form__fieldset">
        <legend class="upload-form__legend"> 
            Введіть, будь ласка, питання #{{index}} складністю {{difficulty}}
        </legend>
        <input type="text" name="question{{index}}"
        class="upload-form__question" placeholder="Текст питання">
        <legend class="upload-form__legend"> 
            Варіанти відповіді
        </legend>
        <input type="text" name="option{{index}}"
        class="upload-form__option" placeholder="Опція 1">
        <input type="text" name="option{{index}}" 
        class="upload-form__option" placeholder="Опція 2">
        <input type="text" name="option{{index}}" 
        class="upload-form__option" placeholder="Опція 3">
        <input type="text" name="option{{index}}" 
        class="upload-form__option" placeholder="Опція 4">
        <legend class="upload-form__legend"> 
            Номер правильної відповіді
        </legend>
        <input type="number" name="correct-answer-num{{index}}" 
        class="upload-form__correct-answer" min="1" max="4">
        <button class="upload-form__lock-button">Запам'ятати</button>
        <button class="upload-form__unlock-button" disabled>Редагувати</button>
    </fieldset>
    {{/uploadOpts}} 
    <button type="submit" class="upload-form__submit" disabled>Відправити</button>
    <div class="upload-form__pagination-box"></div>
</form>
<p class="upload__warning-message">
    Перевірте, будь ласка, заповнення всіх полів для всіх питань Вашого тестування
</p>