<button class="videomaterials__arrow-container--left">
    &lt;&lt;
</button>
<button class="videomaterials__arrow-container--right">
    &gt;&gt;
</button>
<article class="video-section__avatars">
    <a href="#/videomaterials/watch/" class='video-section__anchor' data-navigo>
        <img src="" class="slider-article__video-placeholder" 
        width="300" height="200" alt="avatar">
    </a>
</article>
<article class="video-section__video-container">
        <video class="video-section__video" width="480" controls poster="" >
            <source class="video-section__source" src="" type="">
        </video>
</article>