.feedback-form{
    width: 50%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    background-color: rgb(224, 231, 233);
    border: 1px solid rgb(184, 188, 190);
    border-radius: 5px;

}
.feedback-form__legend{
    text-align: center;
    font-size: 20px
}
.feedback-form__field{
    margin: 4px;
} 
.feedback-form__email{
    width: 50%;

}
.feedback-form__textarea{
    max-width: 80%;
    min-width: 80%;
    height: 60%;
    min-height: 40%;
    max-height: 65%;

}
.feedback-form__button{
    width: 30%;
    height: 7%;
}