/* You can add global styles to this file, and also import other style files */
html,
.body,
.section{
    height: 100%;
    width: 100%
}

.body{
    flex-wrap: wrap;
    padding: 2px;
    overflow-x: hidden;
    font-family: Trebuchet, Verdana, Helvetica, sans-serif;
}
.main,
.header,
.nav{
    margin: 2px;
}
.main{
    height: 80%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 2.5;
}
.flexbox,
.section{
    display: flex;
    flex-basis: auto;
}
.section{
    justify-content: center;
    align-items: center;
}

.view{
    display: none
}
.view--active{
    display: flex;
    flex-basis: auto;
}
.paginate-link{
    width: 20px;
    height: 20px;
    background-color: rgb(32, 72, 117);
    margin: 2px;
    padding: 2px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(21, 19, 88);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nonactual-field{
    display: none;
}

