/* You can add global styles to this file, and also import other style files */
.body{
    height: 100%;
    flex-wrap: wrap;
    padding: 2px;
}
.main,
.header,
.nav{
    margin: 2px;
}

.main{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.section{
    height: 100%;
}

.flexbox{
    display: flex;
}

.view{
    display: none
}
.view--active{
    display: flex;
    flex-basis: auto;
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgb(200,200,200);
}
.paginate-link{
    width: 20px;
    height: 20px;
    background-color: rgb(32, 72, 117);
    margin: 2px;
    padding: 2px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(21, 19, 88);
    font-size: 16px
}
