.upload{
    align-self: center;
}
.upload-setup-form{
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
    justify-content: space-around; 
    height: 500px;
    border: 1px solid rgb(138, 138, 138)
}
.upload-setup-form__legend{
    font-size: 24px;
}
.upload-setup-form__label{
    font-size: 20px;
}
.upload-setup-form__option{
    font-size: 18px;
}