
.videomaterials{
    flex-basis: auto;
    position: relative;
    width:99%;
    margin: 10% 0;
    border: 1px double rgb(92, 73, 117);
    border-radius: 10px;
    background-color: rgb(221, 208, 243);
}
.video-section__posters{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.video-section__anchor{
    margin:20px 25px;
    width: 350px;
    height: 250px;
}
.videomaterials__arrow-container{
    display: block;
    position: absolute;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color:  rgb(129, 87, 207);
    background-color:rgb(117, 117, 155); 
    border: 1px solid rgb(63, 17, 148);
    top: 40%;
    z-index: 2;
}
.videomaterials__arrow-container--to-prev{
    left: 3px;
}
.videomaterials__arrow-container--to-next{
    right: 3px;
}
.video-section__video-container{
    position: absolute;
    z-index: 10;
    padding: 5%;
    left: 0;
    top: -75%;
    width: 90%;
    height: 180%;
    background-color: rgba(227, 227, 236, 0.336);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    display: none;
}
.video-section__video-container--watching{
    display: flex;
}
.video-container__close-button{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 40px;
    height: 40px;
    background-color: rgb(227, 227, 236);
    border: 1px solid rgb(167, 167, 167); 
    border-radius: 10px;
    font-size: 30px;
    padding: 0;
    text-align: center; 
}